#cloud-config
# vim: syntax=yaml
#
# ***********************
# 	---- for more examples look at: ------
# ---> https://cloudinit.readthedocs.io/en/latest/topics/examples.html
# ******************************
#
# This is the configuration syntax that the write_files module
# will know how to understand. encoding can be given b64 or gzip or (gz+b64).
# The content will be decoded accordingly and then written to the path that is
# provided.
#
# Note: Content strings here are truncated for example purposes.
# se debe reamplazar jorge por su nombre de dominio del anterior modulo sin el .com
ssh_pwauth: True
chpasswd:
  list: |
     root:sesamo
     dennarfarel:sesamo
  expire: False

users:
  - name: dennarfarel # Change me (nombre del dominio sin .com)
      ssh_authorized_keys:
       - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQCvZZPWs/NACuHtPWMexJFzIjxL9ZAwaO5AlE37s6Q0NiOaMb1Wygnapg+q4Dx5eh0Ntm4HwjZ7a07ebxN5q5tdtg4kUR8+nvrDui5DGILop9L/bGc3h/8/NwBE9OYcTKL0GJKplfqwGPrQxJsxyOF+iLN6QVTUmhDDyF4gd+nLojl5nbHSryzKwOj3mMa/2+ix8p9Uj4CBFYFTdHn+1nMX7pTak4lzrL543m1oAUtH6rKJkR/npD3g/Ej0Z6MKePLr6aXJvgVdAkoUXh8dYmwiizFQ1qP0LMe5lQNM/SQ0J2SqEqHUBbaPtr+FxlXNE0RbN3Lj/95td4euLDR9oTQfaAXY9LnGkZbVymZiNNrx9DWUq6oaftjkgCwEU25yacVRFn3bZgAoPdYVALqC+1yA5UxQZVkWkv8pWD+STDZyloQVLNpOUNOeVUSB3R1Uf0BcRZKuPqWyquqoDkcmQ8Y3K/NjvE9Zmx+rm6Py++GpFT07K/FVEnA3AI5MlBJd7EU= adminu@adminu
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    shell: /bin/bash
    groups: sudo
